* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    width: 100dvw;
    overflow-x: hidden;
    height: 100dvh;
    font-family: "inter", sans-serif;
    background-color: #1AA4B8;
    /* background: url(images/backPhoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}


div{
    unicode-bidi: isolate;
}
li {
    list-style: none;
}

img {    
    margin-top: 2dvh;
    width: 20dvh;
    height: 20dvh;
    background-size: cover;
}

.container {
    max-width: 50dvw; /* 1rem = 16px blat ebanat tupoy*/
    max-height: 90dvh;
    /* height: 90%; */
    background-color: lightgray;
    margin-top:5dvh;
    margin-bottom: 5dvh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1dvh;
    padding-bottom: 1dvh;
    padding-left: 4dvh;
    padding-right: 4dvh;
    border-radius: 2dvw;
    box-shadow: 0px 10px 16px -3px #808080; 
}

h1 {
    font-size: 3dvw;
    letter-spacing: 0.3dvh;
    font-weight: bold;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

.inputContainer {
    display: flex;
    gap: 1dvh;
    margin-top: 2.5dvh;
    align-items: center;
}

input {
    border-width: 0.73dvh;
    border-style: solid;
    border-color: black;
    padding: 0.5rem 1rem;
    font-size: 2.3dvw;
    border-radius: 1dvw;
    flex: 1;
    min-width: 0;
}

button {
    padding: 1.3dvh 5dvh;
    font-size: 1.5dvw;
    border-radius: 1dvw;
    border-width: 0.73dvh;
    border-style: solid; 
    border-color: black;
    background-color: #1AA4B8;
    color: white;
    cursor: pointer;
    white-space: nowrap;
}

.weather {
    margin-top: 1dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    align-items: start;
    flex-wrap: wrap;
    gap: 1dvh;
}

.kartinka {
    width: 30dvh;
    min-width: 0;
    height: 30dvh;
    border-radius: 3dvh;
    position: relative;
    background: url(images/sunnyblat.jpg) no-repeat;
    background-size: cover;
    padding-left: 1.5dvh;
    padding-top: 1.5dvh;
    font-size: 3.3dvh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    flex-shrink: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.kartinka > span {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

/* .kartinka > span {
    position: absolute;
    right: 0;

} */

.opisanye {
    flex: 1;
    min-width: 0;
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.opisanye .date {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.opisanye h2 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
}

.opisanye ul {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.opisanye li {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.opisanye li span {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media (max-width: 768px) {
    .container {
        max-width: 95vw;
        padding-left: 2dvh;
        padding-right: 2dvh;
    }

    h1 {
        font-size: clamp(1.5dvh, 5vw, 3dvw);
    }

    input {
        font-size: clamp(1.2dvh, 4vw, 2.3dvw);
    }

    button {
        font-size: clamp(1.2vh, 4vw, 2.3vw);
    }

    .weather {
        flex-direction: column;
        align-items: center;
    }

    .kartinka {
        width: min(20dvh, 80vw);
        height: min(20dvh, 80vw);
        font-size: clamp(1.5dvh, 4vh, 3.3dvh);
    }

    .opisanye {
        width: 100%;
    }

    .opisanye h2 {
        font-size: clamp(1dvh, 4vw, 1.5rem);
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 100vw;
        margin-left: 0;
        margin-right: 0;
        border-radius: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .opisanye li {
        flex-direction: column;
        gap: 0.5dvh;
    }
}


ul{
    display: flex;
    flex-direction: column;
}
li{
    display: flex;
    white-space: nowrap;
}